html {
    scroll-behavior: smooth;
}

.jumbotron {
    text-align: center;
    background: none;
}

div.carousel-caption > h5{
    text-shadow: 1px 1px #000;
}

div.carousel-caption > p{
    text-shadow: 1px 1px #000;
}

.collapsing {
    transition: height 1.6s;
}

.myDescA {
    text-align: center;
    display: block;
}

.secLight {
    background-color: #eee;
    padding: 2rem;
}

.secDark {
    background-color: #aaa;
    padding: 2rem;
}

.myCenter {
    text-align: center;
}

.mybtn {
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 63%;
}

.myFooter {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.myAutor {
    margin-bottom: 0;
}

.myRow {
    margin: 0;
}

.myHeader {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.myMoveDiv {
    background: #000000b8;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 5px;
}

.myMoveDiv:hover {
    text-decoration: none;
}

.myNBtPadd {
    padding-bottom: 0;
}