.jumbotron {
    text-align: center;
    background: none;
}

div.carousel-caption > h5{
    text-shadow: 1px 1px #000;
}

div.carousel-caption > p{
    text-shadow: 1px 1px #000;
}

.myDescA {
    text-align: center;
    display: block;
}

.secLight {
    background-color: #eee;
    padding: 2rem;
    padding-bottom: 5rem;
    padding-top: 5rem; 
}

.secDark {
    background-color: #aaa;
    padding: 2rem;
    padding-bottom: 10rem;
    padding-top: 10rem;
}

.myCenter {
    text-align: center;
}

.mybtn {
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 54%;
}

.myFooter {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.myAutor {
    margin-bottom: 0;
}